.places {
  width: 100%;
  max-width: 984px;
  padding: 46px 0;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 93.75%;
    max-width: 928px;
    padding: 44px 0px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    padding: 44px 0px;
  }
}
