.intro {
  width: 100%;
  max-width: 984px;
  padding: 46px 0;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 44px 0;
    width: 93.75%;
    /* max-width: 720px; */
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 32px 0;
    width: 90%;
  }
}
