.cover {
  box-sizing: border-box;
  width: 100%;
  max-width: 1184px;
  padding: 245px 312px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    padding: 42px 40px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding: 33px 16px;
  }
}
