.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: min-content min-content;
  justify-content: start;
  align-items: start;
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: calc(440 / 928 * 100%) calc(456 / 928 * 100%);
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding-bottom: 73px;
    grid-template-columns: calc(340 / 720 * 100%) calc(352 / 720 * 100%);
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    gap: 32px;
    justify-items: center;
  }
}
